<div class="flex items-center justify-center bg-gray-50 py-4 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
      <div>
        <h2 class="text-center text-3xl font-extrabold text-gray-900">
          Forgot Your Password?
        </h2>
        <p class="mt-2 text-center text-sm text-gray-600">
          Please enter your email address and we'll send you instructions on how to reset your password.
        </p>
      </div>
      <form action="/auth/requestResetPassword" method="post" class=" mx-auto items-center justify-center bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="rounded-md shadow-sm -space-y-px">
            <div>
              <label for="email-address" class="sr-only">Email address</label>
              <input id="email-address" name="email" type="email" autocomplete="email" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Email address">
            </div>
        </div>
        <div class=" mx-auto items-center justify-center">
            <button class="btn-primary px-6 py-2 rounded-full text-white font-bold mt-4" type="submit">Request a password reset link</button>
        </div>
    </form>
      
    </div>
  </div>
